.nav_title{
    font-weight: 700;
    font-size: 24px;
}
.nav_main-block{
    border-bottom: 1px solid rgba(21, 21, 23, 0.2);
    display: flex;
    justify-content: space-between;
    padding: 1.5625rem 0;
}
.nav_btn{
    min-width: 156px;
    font-weight: 500;
    border-radius: 10px;
}
