.nav_title{
    font-weight: 700;
    font-size: 24px;
}
.nav_main-block{
    border-bottom: 1px solid rgba(21, 21, 23, 0.2);
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1.5625rem 0;
}
.nav_btn{
    min-width: 9.75rem;
    font-weight: 500;
    border-radius: 10px;
}
@media screen and (max-width: 1261px){
    .nav_btn{
        padding: 12px 15px;
    }
}
@media screen and (max-width: 946px){
    .nav_title{
        text-align: center;
    }
    .nav_main-block{
        justify-content: space-around;
        flex-wrap: wrap;
    }
    .nav_btn:not(:last-child){
        margin-right: 5px;
    }
    .nav_btn:last-child{
        margin: 10px 0;
    }
}
@media screen and (max-width: 460px){
    .nav_btn:nth-child(5n){
        margin: 10px 3px 10px 0;
    }
    .nav_btn:last-child{
        margin: 0;
    }
    .nav_btn{
        width: 115px;
    }
}
@media screen and (max-width: 377px){
    .nav_btn:nth-child(3n) {
        margin-top: 10px;
    }
    .nav_btn:nth-child(4n) {
        margin-top: 10px;
    }
}