.main{
    margin-top: 2.125rem;
    display: flex;
    justify-content: space-between;
}
.main_add-task{
    display: flex;
    justify-content: end;
}
.main_plus-task{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}
.main_window-title{
    font-weight: 700;
    margin-bottom: 0.8rem;
    font-size: 16px;
}
.main_task-window{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 16px;
    background-color: rgba(228, 230, 231, 1);
    box-shadow: 4px 0 15px rgba(0, 0, 0, 0.2);
    margin-right: 1.5625rem;
}
.main_weekday-arr{
    background-color: white;
    padding: 4px 10px;
    position: absolute;
    right: 20px;
    bottom: 6px;
    border-radius: 10px;
}
.main_arrow-down{
    position: absolute;
    right: 23px;
    width: 18px;
    height: 9px;
    margin-top: 3px;
}
.main_arrow-down.open{
    transform: rotate(180deg);
    transition-duration: .3s;
    transition-timing-function: ease;
}
.main_arrow-down.close{
    transition-duration: .3s;
    transition-timing-function: ease;
    animation: blueMove 1500ms infinite;
}
.main_weekday-p{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.main_weekday-p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.main_weekday-p:not(:last-child){
    margin-bottom: 14px;
}
.main_textarea{
    width: 87%;
    margin-bottom: 0.9375rem;
    height: 110px;
    padding: 13px 16px;
    font-size: 16px;
    font-family: Inter, serif;
    border-radius: 8px;
    resize: none;
    border: none;
}
.main_p{
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 9px 0;
    width: 130px;
    border-right: 1px solid black;
}
.main_time{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
.main_time:not(:last-child){
    margin-bottom: 0.9375rem;
}
.main_slider-block{
    width: 50%;
    display: flex;
    align-items: center;
}
.main_slider-p{
    min-width: 140px;
    width: 100%;
    border: none;
}
.main_add-btn{
    margin-top: 145px;
    font-weight: 700;
    color: white !important;
    max-width: 50%;
    background: linear-gradient(0deg, #081E34, #081E34), #FFFBFE !important;
    border-radius: 100px;
}
.main_input, .main_plus-task-none, .main_do-block-none{
    display: none;
}
.main_plus-task-none{
    margin-bottom: 20px;
}
.main_fake-inp{
    margin-right: 0.75rem;
    display: inline-block;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(218, 218, 218, 1);
    border-radius: 4px;
    position: relative;
}
.main_fake-inp::before{
    content: "";
    position: absolute;
    display: block;
    width: 16px;
    height: 16px;
    background-position: center center;
    background-image: url('/public/vector.svg');
    background-repeat: no-repeat;
    background-color: rgba(113, 47, 255, 1);
    border-color: rgba(113, 47, 255, 1);
    border-radius: 4px;
    opacity: 0;
    transition: .2s;
}
.main_tasks{
    display: flex;
    flex-direction: column;
}
.main_task-done{
    text-decoration: line-through;
    text-decoration-color: rgba(149, 149, 149, 1);
    color: rgba(149, 149, 149, 1);
}
.main_input:checked + .main_fake-inp::before{
    opacity: 1;
}
.main_task{
    position: relative;
    font-size: 14px;
    margin-bottom: 20px;
    display: flex;
    align-items: center;
}
.main_task:last-child{
    margin-bottom: 80px;
}
.main_task-m{
    margin-bottom: 75px;
}
.main_task-label{
    display: flex;
    cursor: pointer;
    align-items: center;
    font-weight: 500;
}
.main_points-img{
    padding-right: 0.75rem;
    cursor: pointer;
}
.main_do-block{
    top: 20px;
    position: absolute;
    display: block;
    padding: 9px 9px 9px 5px;
    background-color: #D9D9D9;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.25);
    border-radius: 13px;
}
.main_delete-block, .main_change-block{
    display: flex;
    align-items: center;
}
.main_change-block{
    margin-top: 10px;
}
.main_delete-text, .main_change-text{
    white-space: nowrap;
    margin-left: 10px;
    font-weight: 500;
}
@media screen and (max-width: 946px){
    .main{
        flex-direction: column;
    }
    .main_arrow-down{
        right: 23px;
    }
}
@media screen and (max-width: 460px) {
    .main_add-task{
        flex-direction: column;
        align-items: end;
    }
    .main_plus-task-none{
        display: flex!important;
    }
    .main_plus-task{
        display: none;
    }
    .main_task-window{
        max-width: 280px;
        margin: 0;
        padding: 12px;
    }
    .main_arrow-down{
        right: 17px;
    }
    .main_weekday-arr{
        bottom: 12px;
    }
    .main_add-btn{
        margin-top: 155px;
    }
}
