.main{
    margin-top: 2.125rem;
    display: flex;
    justify-content: space-between;
}
.ant-picker{
    border: none;
}
.main_add-task{
    display: flex;
}
.main_plus-task{
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(0deg, #081E34, #081E34), #F0F0F0;
    border-radius: 100px;
    width: 52px;
    height: 52px;
}
.main_window-title{
    font-weight: 700;
    margin-bottom: 0.8rem;
}
.main_task-window{
    position: relative;
    display: flex;
    flex-direction: column;
    border-radius: 12px;
    padding: 16px;
    background-color: rgba(228, 230, 231, 1);
    margin-right: 1.5625rem;
}
.main_weekday-arr{
    background-color: white;
    padding: 4px 10px;
    position: absolute;
    right: 20px;
    bottom: 16px;
    border-radius: 10px;
}
.main_arrow-down{
    position: absolute;
    right: 25px;
    width: 18px;
    height: 9px;
    margin-top: 3px;
}
.main_arrow-down.open{
    transform: rotate(180deg);
    transition-duration: .3s;
    transition-timing-function: ease;
}
.main_arrow-down.close{
    transition-duration: .3s;
    transition-timing-function: ease;
    animation: blueMove 1500ms infinite;
}
.main_weekday-p{
    font-size: 14px;
    font-weight: 500;
    text-align: center;
}
.main_weekday-p:hover{
    cursor: pointer;
    text-decoration: underline;
}
.main_weekday-p:not(:last-child){
    margin-bottom: 14px;
}
.main_textarea{
    width: 87%;
    margin-bottom: 0.9375rem;
    height: 110px;
    padding: 13px 16px;
    font-size: 16px;
    font-family: Inter, serif;
    border-radius: 8px;
    resize: none;
    border: none;
}
.main_p{
    font-weight: 500;
    font-size: 14px;
    display: flex;
    justify-content: center;
    padding: 9px 0;
    width: 130px;
    border-right: 1px solid black;
}
.main_time{
    align-items: center;
    background-color: white;
    border-radius: 10px;
    display: flex;
}
.main_time:not(:last-child){
    margin-bottom: 0.9375rem;
}
.main_slider-block{
    width: 50%;
    display: flex;
    align-items: center;
}
.main_slider-p{
    width: 100%;
    border: none;
}
.main_add-btn{
    margin-top: 9.9rem;
    font-weight: 700;
    color: white;
    max-width: 50%;
    background: linear-gradient(0deg, #081E34, #081E34), #FFFBFE;
    border-radius: 100px;
}
.main_task{
    margin-bottom: 1rem;
}
.main_task-text{
    font-weight: 500;
    margin-left: 0.5rem;
}